body {
    margin: 0 4%;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif
}

h1, h2 {
    font-family: 'Balsamiq Sans', cursive;
}

main {
    margin: 10px 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "serv1"
      "serv2"
      "serv3"
      "serv4"
      "credit"
      "contact";
}

.serv1 {
    grid-area: serv1;
}

.serv2 {
    grid-area: serv2;
}

.serv3 {
    grid-area: serv3;
}

.serv4 {
    grid-area: serv4;
}

.serv1, .serv2, .serv3, .serv4 {
    background-color: #fef2e4;

}

.serv1, .serv2, .serv3, .serv4, .credit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align {
    display: block;
    width: 100%;
    height: fit-content;
}

.credit {
    grid-area: credit;
}

.contact {
    grid-area: contact;
    background-color: #fad27a;
}

.block, .credit {
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px black;
}

.block, .contact, .credit {
    padding: 10px;
}

h2 {
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}

img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.credit {
    text-align: center;
}

.credit img {
    margin: 10px auto;
    background-color: #fad27a;
    border-radius: 50%;
}

.contact img {
    margin-top: 10px;
    width: 150px;
    height: 150px;
}

.contact a {
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.2em;
    color: #cf3721;
}

.separator {
    display: block;
    margin: 20px auto;
    height: 2px;
    width: 50%;
    background-color: #cf3721;
}

/* formulaire */

form {
    margin: 0 auto;
    width: 90%;
}

form h2 {
    color: #cf3721;
}


label {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

input, textarea {
    font: 1em sans-serif;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #999;
    margin-bottom: 10px;
}

textarea {
    height: 5em;
}

.radio {
    width: 50%;
    display: flex;
    text-align: left;
}

.radio input {
    min-width: 1em;
    min-height: 1em;
}

.radio label {
    margin-left: 10px;
    line-height: 1em;
}

.gender{
    margin-bottom: 10px;
}

.aster {
    font-style: italic;
    font-size: 0.9em;
}

button {
    width: 100%;
    height: 6vh;
    background-color: #cf3721;
    color: #fff;
    font-size: 1.1em;
    margin: 10px 0;
    border: 2px solid #cf3721;
    border-radius: 20px;
}

.warning {
    font-weight: bold;
    color: red;
}

.success {
    font-weight: bold;
    color: green;
}

/* header */

header {
    display: flex;
    margin-bottom: 20px;
    width: 90vw;
}

header img {
    margin: 10px 0 0 10px;
    width: 60px;
    height: 60px;
}

.title {
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    color: #cf3721;
    font-size: 1.5em;
}

/* menu */

nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: block;
    text-align: center;
    margin-top: 20px;
    line-height: 5vh;
    height: 5vh;
}

nav a {
    text-decoration: none;
    background-color: #cf3721;
    color: #fff;
    border-radius: 10px;
    height: 5vh;
    padding: 10px;
    margin: 10px;
}

/* footer */

footer {
    text-align: center;
    font-size: 0.8em;
}

/* rgpd */

.rgpd {
    text-align: justify;
    width: 90vw;
    margin: 0 auto;
}

.back {
    display: block;
    width: 20vw;
    margin: 20px auto;
    background-color: #cf3721;
    border-radius: 10px;
}

.back a {
    text-align: center;
    display: block;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}

/* TABLET */


@media screen and (min-width: 550px) {
    
    body {
        margin: 0 5%;
        font-size: 20px;
    }

    main {
        margin: 20px 0;
    }

    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 20px 20px;
        grid-template-areas:
        "serv1 credit"
          "serv2 contact"
          "serv3 contact"
          "serv4 contact";
    }

    header img {
        width: 100px;
        height: 100px;
    }

    .separator {
        height: 3px;
        margin: 20px auto;
    }

    nav {
        display: none;
    }
      
}

/* DESKTOP */

@media screen and (min-width: 900px) {
    
    body {
        margin: 0 6%;
    }

    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "serv1 serv2 contact"
        "serv3 serv4 contact"
        "credit credit contact";
    }

    button:hover {
        background-color: #a43625;
        border: 2px solid #cf3721;
    }

    .back a:hover {
        background-color: #a43625;
        border-radius: 10px;
    }
}

/* LARGE SCREENS */

@media screen and (min-width: 1440px) {

    body {
        max-width: 1440px;
        margin: 0 auto;
    }
}