body {
    margin: 0 4%;
    font-size: 18px;
}

main {
    margin: 10px 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "serv1"
      "serv2"
      "serv3"
      "serv4"
      "credit"
      "contact";
}

.serv1 {
    grid-area: serv1;
}

.serv2 {
    grid-area: serv2;
}

.serv3 {
    grid-area: serv3;
}

.serv4 {
    grid-area: serv4;
}

.serv1, .serv2, .serv3, .serv4 {
    background-color: #fef2e4;
}

.credit {
    grid-area: credit;
}

.contact {
    grid-area: contact;
    background-color: #fad27a;
}

.block {
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
}

.block, .contact {
    padding: 10px;
}

h2 {
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}

img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.credit img {
    margin: 10px auto;
    background-color: #fad27a;
    border-radius: 50%;
}

.contact img {
    margin-top: 10px;
    width: 150px;
    height: 150px;
}

.contact a {
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.2em;
    color: #cf3721;
}

.separator {
    display: block;
    margin: 10px auto;
    height: 2px;
    width: 50%;
    background-color: #cf3721;
}

/* formulaire */

form {
    margin: 0 auto;
    width: 90%;
}

form h2 {
    color: #cf3721;
}


label {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

input, textarea {
    font: 1em sans-serif;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #999;
    margin-bottom: 10px;
}

textarea {
    height: 5em;
}

.radio {
    width: 50%;
    display: flex;
    text-align: left;
}

.radio input {
    width: 1em;
    height: 1em;
}

.radio label {
    margin-left: 10px;
    line-height: 1em;
}

.gender{
    margin-bottom: 10px;
}

.aster {
    font-style: italic;
    font-size: 0.9em;
}

button {
    width: 100%;
    height: 6vh;
    background-color: #cf3721;
    color: #fff;
    font-size: 1.1em;
    margin: 10px 0;
    border: 2px solid #cf3721;
    border-radius: 20px;
}

/* TABLET */


@media screen and (min-width: 550px) {
    
    body {
        margin: 0 5%;
        font-size: 20px;
    }

    main {
        margin: 20px 0;
    }

    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 20px 20px;
        grid-template-areas:
        "serv1 credit"
          "serv2 contact"
          "serv3 contact"
          "serv4 contact";
    }

    .separator {
        height: 3px;
        margin: 20px auto;
    }
      
}

/* DESKTOP */

@media screen and (min-width: 900px) {
    
    body {
        margin: 0 6%;
    }

    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "serv1 serv2 contact"
        "serv3 serv4 contact"
        "credit credit contact";
    }

    button:hover {
        background-color: #a43625;
        border: 2px solid #cf3721;
    }
}

/* LARGE SCREENS */

@media screen and (min-width: 1440px) {

    body {
        max-width: 1440px;
        margin: 0 auto;
    }
}